


body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    background-color: black;
    background-repeat: no-repeat;
   
  }



   img::before{
    animation: test 5s ease-out    ;
   
   }

     div{
        text-align: center;
        color: white;
        font-size: 30px;
        margin-top: 12%;
     }